@model MvcTesting.ViewModels.DisplayUserViewModel

<h1>@(Model.User.UserName)'s Collection</h1>
<hr />

<ul>

    @foreach (var film in Model.Films)
    { 
        <li>
            <label for="@film.Name">
                <a asp-controller="Movie" asp-action="ViewMovie" asp-route-id="@film.ID">@film.Name @(!string.IsNullOrEmpty(film.Year)? "(" + film.Year+ ")": "")            
                </a>
            </label>
        </li>
    }

</ul>