
@model MvcTesting.ViewModels.SearchViewModel

<div class="page-header">
    <h1>Search Results</h1>
</div>
<div class="form-group">
    <div class="col-md-12">
        <table class="table table-striped table-hover">
            <tr>
                @{ int count = 0;

                   foreach (var movie in Model.Movies)
                   {
                       if (count++ % 2 == 0)
                       {
                           @:</tr><tr>
                       }

                   @:<td>
                       <img class="search-results-poster" src="@(movie.PosterUrl)" onerror="this.src='/images/filmposterdefault.jpg'" alt="No Image" />
                   @:</td>
                     <td>
                     <a asp-controller="Movie" asp-action="ViewSearchedMovie" asp-route-Id="@movie.Id">
                        <H4>@movie.Title  @movie.ReleaseDate</H4>
                     </a>
                         @if (!string.IsNullOrEmpty(movie.Directors))
                         {
                             <em>Directed by @movie.Directors</em>
                         }
                     </td>
                     <td>
                         <a class="btn btn-primary" asp-controller="Movie" asp-action="Add" asp-route-id="@movie.Id">Add Movie</a>
                     </td>
                }
            @:</tr>
            }
        </table>
         </div>
    <form asp-controller="Movie" asp-action="Search" method="post">
        <input type="hidden" asp-for="Query" />
        <ul class="pager">
            @if (Model.CurrentPage > 1)
            {
                <li><button class="btn btn-primary" name="page" value="@(Model.CurrentPage -1)">Previous</button></li>
            }
            @if (Model.LastPage > Model.CurrentPage)
            {
                <li><button class="btn btn-primary" name="page" value="@(Model.CurrentPage+1)">Next</button></li>
            }
        </ul>
    </form>
    </div>
<br />
<div class="row">
    <h2>Don't see the movie you're Looking For?</h2>
    <br />
    <div class="row">
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-8">
                    <a class=" btn btn-primary" asp-controller="Movie" asp-action="Add">Add Manually</a>
                </div>
                <div class="col-md-4" id="display-or">
                    <strong>OR</strong>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <form asp-controller="Movie" asp-action="WebSearch" method="post">
                <div class="input-group search-input">
                    <input type="text" class="form-control" name="query" placeholder="Try Another Search" />
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>





