
@model MvcTesting.ViewModels.SearchViewModel

<div class="page-header">
    <h1>Search Results</h1>
</div>

<div class="form-group">
    <div class="col-md-12">
        <table class="table table-striped table-hover">
            <tr>
                @{ int count = 0;

                    foreach (var movie in Model.Movies)
                    {
                        if (count++ % 2 == 0)
                        {
                        @:</tr><tr>
                    }
                    @:<td>
                         if (movie.Images.Posters.Count > 0)
                        {
                            <img src="@($"https://image.tmdb.org/t/p/w300_and_h450_bestv2/{movie.Images.Posters[0].FilePath}")" width="54" height="80"/>
                        }

                    @:</td>
        
                        <td>
                        <a asp-controller="Movie" asp-action="ViewSearchedMovie" asp-route-Id="@movie.Id">
        
                            @if (movie.ReleaseDate != null)
                            {
                                    <H4>@movie.Title  (@movie.ReleaseDate.Value.ToString("yyyy"))</H4>
                            }
                            else
                            {
                                    <h4>@movie.Title</h4> 
                            }
                                </a>
        
        
                            @if (movie.Credits.Crew.Count > 0)
                            {
                                List<string> directors = new List<string>();


                                            foreach (var member in movie.Credits.Crew)
                                            {
                                                if (member.Job == "Director")
                                                {
                                                    directors.Add(member.Name);
                                                }
                                            }

                                        string Directors = String.Join(", ", directors.ToArray());
                                    
                                <em>Directed by @Directors</em>
                             }
                        </td>
                        <td>
                            
                            <a class="btn btn-primary" asp-controller="Movie" asp-action="Add" asp-route-id="@movie.Id">Add Movie</a>
                         </td>
                    }

                    @:</tr>
                    }
                </table>

         </div>
    </div>
<br />
    
<div class="col-md-6 col-md-offset-2">
    <h2>Don't see the movie you're Looking For?</h2>
    <a class=" btn btn-primary" asp-controller="Movie" asp-action="Add">Add Manually</a>
</div>




