@model MvcTesting.ViewModels.ViewMovieViewModel

<div class="page-header">
    @if (Model.Film.Year > 0)
    {
        <h1>
            @Model.Film.Name (@Model.Film.Year)
        </h1>
    }
    else
    {
        <h1>
            @Model.Film.Name
        <a class="btn btn-primary" asp-controller="Movie" asp-action="Add" asp-route-id="@Model.Film.ID">Add This Movie</a>
    </h1>
    }

</div>

@if (!string.IsNullOrEmpty(Model.Film.PosterUrl))
    {
    <div class="center-block">
        <img src="@Model.Film.PosterUrl" />
    </div>
    }

@if (Model.CastMembers.Count > 0)
{
    <h2>Cast</h2>
    <ul>
        @foreach (var cast in Model.CastMembers)
        {
            <li>@cast</li>
        }
    </ul>
}

@if (!string.IsNullOrEmpty(Model.Film.Overview))
{
    <h2>Synopsis</h2>
    @Model.Film.Overview
    <br />
}

@if (!string.IsNullOrEmpty(Model.Film.TrailerUrl))
    {
    <h2>Trailer</h2>
    <iframe width="560" height="315" src="@Model.Film.TrailerUrl" frameborder="0" allowfullscreen></iframe>
    }

