@model MvcTesting.Models.MovieMVC

<div class="row">
<div class="col-md-10 main-film-top-margin">
    <div class="row">
        <div class="col-md-4 poster">
            <div class="center-block">
                <img src="@Model.PosterUrl" class="img-responsive" />
            </div>
        </div>
        <div class="col-md-8">
            <div class="row main-film-info margin-right-offset" style="border-bottom:3px groove gray">
                <h1>
                    <span style="color: ghostwhite;">@Model.Title</span><small> @Model.ReleaseDate</small>
                </h1>
            </div>

            @if (!string.IsNullOrEmpty(Model.Overview))
            {
                <div class="row main-film-info">
                    <h2>Synopsis</h2>
                    @Model.Overview
                    <br />
                </div>
            }
            @if (Model.CastMembers.Count > 0)
            {
                <div class="row main-film-info">
                    <h2>Top Cast Members</h2>
                </div>
                <div class="row">
                    @foreach (var castMember in Model.CastMembers)
                    {
                        <div class="col-md-4 cast-display">
                            @castMember
                        </div>
                    }
                </div>
            }
        </div>
    </div>
    <br />
    @if (!string.IsNullOrEmpty(Model.TrailerUrl))
    {
        <div class="row embed-responsive embed-responsive-16by9 margin-right-offset">
            <iframe class="embed-responsive-item" src="@Model.TrailerUrl" frameborder="0" allowfullscreen></iframe>
        </div>
    }
</div>
<div class="col-md-2 extra-film-info">
    <div class="film-stats">
        <div class="row">
            <h4>Runtime <small>(in minutes)</small>:</h4>
            <p>@Model.RunTime</p>
        </div>
        <div class="row">
            <h4>Directed By:</h4>
            <p>@Model.Directors</p>
        </div>
        @if (Model.Genres.Count > 0)
            {
            <div class="row">
                <h4>Genres</h4>
                <ul>
                    @foreach (var genre in Model.Genres)
                    {
                        <li>
                            <form asp-controller="Movie" asp-action="Search" method="post">
                                <button class="filter-link" type="submit" name="GenreFilter" value="@genre">@genre</button>
                            </form>
                        </li>
                    }
                </ul>
            </div>
        }
    </div>
</div>
</div>