@model TMDbLib.Objects.Movies.Movie

<div class="page-header">
    @if (Model.ReleaseDate != null)
    {
        <h1>@Model.Title (@Model.ReleaseDate.Value.ToString("yyyy"))
            <a class="btn btn-primary" asp-controller="Movie" asp-action="Add" asp-route-id="@Model.Id">Add This Movie</a>
        </h1>
    }
    else
    {
        <h1>@Model.Title
            <a class="btn btn-primary" asp-controller="Movie" asp-action="Add" asp-route-id="@Model.Id">Add This Movie</a>
        </h1>
    }
    
</div>

    @if (Model.Images.Posters.Count > 0)
    {
        <div class="center-block">
            <img src="@($"https://image.tmdb.org/t/p/w300_and_h450_bestv2/{Model.Images.Posters[0].FilePath}")" />
        </div>
    }


    <h2>Cast</h2>

    <ul>
        @foreach (var cast in Model.Credits.Cast)
        {
            <li>@cast.Name : @cast.Character</li>
        }
    </ul>


    <h2>Synopsis</h2>
    @Model.Overview
    <br />


    @if (Model.Videos.Results.Count > 0)
    {
        <h2>Trailer</h2>
        <iframe width="560" height="315" src="@("https://www.youtube.com/embed/" + @Model.Videos.Results[Model.Videos.Results.Count - 1].Key)" frameborder="0" allowfullscreen></iframe>
    }

<div class="btn-block">
    <a class="btn btn-primary" asp-controller="Movie" asp-action="Add" asp-route-id="@Model.Id">Add This Movie</a>
</div>
