<form asp-controller="@Model.Controller" asp-action="@Model.Action" method="post">
    @foreach (var item in Model.Items)
    {
        <label for="@item.Name">@item.Name</label>
        <input type="checkbox" name="genres" value="@item.ID" />
        <br />

    }

    <button class="btn btn-danger" type="submit">Delete Genres</button>

</form>
